{% extends "layout.html" %} {% block body %} {% if session["user_id"] %}

<form action="{{ url_for('options.count_words') }}" method="post" class="count">
  <dl>
    <dt>Choose a word:</dt>
    <dd><input type="text" size="30" name="word" /><br /><br /></dd>
    <dt>Choose text(s):</dt>
    <dt>Title:</dt>
    <dd><input type="text" size="30" name="title" /></dd>
    <dt>Author:</dt>
    <dd><input type="text" size="30" name="author" /></dd>
    <dt>Genre:</dt>
    <dd><input type="text" size="30" name="author" /></dd>
    <dd><input type="submit" value="submit" /></dd>
  </dl>
</form>
{% else %}
<h2>Analyse text - not logged in</h2>
{% endif %} {% endblock %}
