<!DOCTYPE html>
<title>Web Text</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
filename='style.css') }}">
<div class="page">
  <h1>Web Text</h1>
  <p>Simple analysis of classic texts</p>
  <div class="metanav">
    <a href="{{ url_for('options.start_page') }}">Home</a> |
    <a href="{{ url_for('options.show_entries') }}">List all</a> |
    <a href="{{ url_for('options.database_query') }}">Query database</a> |
    <a href="{{ url_for('options.add_entry') }}">Add new</a>|
    <a href="{{ url_for('options.analyse_text') }}">Analyse text</a> | {% if not
    session["user_id"] %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block body %}{% endblock %}
</div>
